@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #635bff;
  flex-direction: column;
}

#section {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
}

#section .add-form{
  min-width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: violet;
  border-radius: 6px;
}

form {
  width: 100%;
}

form .button-group {
  text-align: right;
}

.icon {
  display: block;
  margin-bottom: 3px;
}

#section .list-expense {  
  margin-top: 20px;
  min-width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 6px;
}

.filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
}

.filter select {
  font-size: 15px;
  padding: 5px;
}

